body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #1b1b1d;
  color: #9feaf9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

#root {
  width: 100%;
  height: 100%;
}